<section id="page-header">
<button type="button" class="btn btn-success btn-xs"onclick="TowTruck(this); return false;">Collaborate</button>
  <img class="logo img-responsive" src="/img/logo.symbol.png" alt="Logo"/>
  <h1>SNOMED Clinical Terms</h1>
</section>

{{outlet}}

<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
